{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Find-a-Pet</title>
  </head>
  <body>
    <h1 id="abt">About <span class="fap">Find-a-Pet</span></h1>
    <hr />
    <h6 id="jfk">
      JFK Enterprises' executive board consists of three like-minded developers
      who have a passion for pets. They built
      <span class="fap">Find-a-Pet</span> to make the pet adoption process more
      personal and seamless.
    </h6>
  </body>
</html>


<div class="row">
  <div class="col-sm-12 col-lg-4 col-xl-4 justify-content-center text-center">
    <img class="img" src="https://i.imgur.com/VB6eQNR.jpg" alt="">
    <h2 class="names">Josh Woodcock</h2>
        <p>API / Database Manager</p>
        <p><a class="gh-links" href="https://github.com/j0w00">https://github.com/j0w00</a></p>
  </div>
  <div class="col-sm-12 col-lg-4 col-xl-4 justify-content-center text-center">
    <img class="img" src="https://i.imgur.com/U3y3oey.jpg" alt="">
    <h2 class="names">Futsum Nemariam</h2>
        <p>Scrum Master / Documenter</p>
        <p><a class="gh-links" href="https://github.com/Futsum1">https://github.com/Futsum1</a></p>
  </div>
  <div class="col-sm-12 col-lg-4 col-xl-4 justify-content-center text-center">
    <img class="img" src="https://i.imgur.com/tp3CDA5.jpg" alt="">
    <h2 class="names">Kenny Seo</h2>
        <p>Designer / Github Manager</p>
        <p><a class="gh-links" href="https://github.com/kennyyseo">https://github.com/kennyyseo</a></p>
  </div>
</div>


  {% endblock %}
</div>
