{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Find-a-Pet</title>
  </head>
  <body>
    <h1 id="abt">About <span class="fap">Find-a-Pet</span></h1>
    <hr />
    <h4 id="jfk">JFK Enterprises' executive board consists of three like-minded developers who have a passion for pets. They built <span class="fap">Find-a-Pet</span> to make the pet adoption process more personal and seamless.</h4>
  </body>
</html>

{% endblock %}
