{% extends 'base.html' %} {% block content %}

<h1 class="animal_name">{{animal.animal.name}}</h1>

{% if user.is_authenticated %}
{% if pet %}
<form action="{% url 'pets_delete' animal.animal.id %}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn">Remove from Favorites</button>
</form>
{% else %}
<form action="{% url 'pets_create' animal.animal.id %}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn">Add to Favorites</button>
</form>
{% endif %}
{% endif %}

<h5>Address:</h5>

<h6>{{animal.animal.contact.address.address1}}</h6>
<h6>
  {{animal.animal.contact.address.city}},
  {{animal.animal.contact.address.state}}
  {{animal.animal.contact.address.postcode}}
</h6>

<p>{{animal}}</p>

{% if user.is_authenticated and pet %}
<form action="/pets/{{animal.animal.id}}/update/" method="POST">
  {% csrf_token %}
  <textarea name="comment">{{ pet.comments }}</textarea>
  <button type="submit">save</button>
</form>
{% endif %}

{% endblock %}