{% extends 'base.html' %} {% block content %}

<h1>Favorites</h1>

<ul>
    {% for pet in users_pets %}
    <li>
        <a href="{% url 'pets_show' pet.animal.id %}">{{ pet.animal.name }}</a>

        <form action="{% url 'pets_delete' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="api_pet_id" value="{{ pet.animal.id }}" />
            <button type="submit" class="btn btn-secondary">Remove</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}