{% extends 'base.html' %} {% block content %}
<h1 class="greeting">Welcome to <span id="titlelogo">Find-A-Pet!</span></h1>
<h3>Search for a local pet</h3>
<form action="search/" method="POST">

  {% csrf_token %}

  <div class="input-field">
    <label for="zip_code">Zip Code: </label>
    <input id="zip_code" type="text" class="validate" name="zip_code" />
  </div>
  <label for="pet_type">Animal Type:</label>
  <select name="pet_type" class="browser-default">
    <option disabled selected>All Animals</option>
    {% for type in animal_types.types %}
    <option value="{{ type.name }}">{{ type.name }}</option>
    {% endfor %}
  </select>
  <br />
  <button type="submit" class="btn">Submit</button>
</form>

<hr />

<h4>Featured Pets</h4>

{% for pet in featured_pets.animals %}

<div class="card" style="width: 18rem">
  <img src="{% if pet.photos.0.small %} {{pet.photos.0.small}} {% else %} https://i.imgur.com/Cl027Ke.png {% endif %}"
    class="card-img-top" alt="" />
  <div class="card-body">
    <h5 class="card-title">{{pet.name}}</h5>
    <p class="card-text">{{pet.description}}</p>
    <a href="/pets/{{ pet.id }}/" class="btn btn-primary">See Details</a>
  </div>
</div>

{% endfor %} {%endblock%}