{% extends 'base.html' %} {% block content %}

<h1>Search</h1>

<form action="/search/" method="POST">

    {% csrf_token %}

    <div class="input-field">
        <label for="zip_code">Zip Code: </label>
        <input id="zip_code" type="text" class="validate" name="zip_code" value="{{ request.GET.location }}" />
    </div>

    <label for="pet-type">Animal Type: </label>
    <select name="pet_type" class="browser-default">
        <option disabled selected>All Animals</option>
        {% for type in animal_types.types %}
        <option value="{{ type.name }}" {% if request.GET.type == type.name %} selected {% endif %}>{{ type.name }}
        </option>
        {% endfor %}
    </select>
    <br />


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Advanced Search
    </button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<div class="advopt">
    <label class="cat">Size: </label>
    <p>
        <label class="opt">
            <input type="radio" name="size" value="small" {% if request.GET.size == 'small' %} checked {% endif %}>
            <span>Small</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="size" value="medium" {% if request.GET.size == 'medium' %} checked {% endif %}>
            <span>Medium</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="size" value="large" {% if request.GET.size == 'large' %} checked {% endif %}>
            <span>Large</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="size" value="xlarge" {% if request.GET.size == 'xlarge' %} checked {% endif %}>
            <span>Extra Large</span>
        </label>
    </p>
</div>
<hr>

<div class="advopt">
    <label class="cat">Gender:</label>
    <p>
        <label class="opt">
            <input type="radio" name="gender" value="male" {% if request.GET.gender == 'male' %} checked {% endif %}>
            <span>Male</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="gender" value="female" {% if request.GET.gender == 'female' %} checked
                {% endif %}>
            <span>Female</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="gender" value="unknown" {% if request.GET.gender == 'unknown' %} checked
                {% endif %}>
            <span>Unknown</span>
        </label>
    </p>
</div>
<hr>
<div class="advopt">
    <label class="cat">Age:</label>
    <p>
        <label class="opt">
            <input type="radio" name="age" value="baby" {% if request.GET.age == 'baby' %} checked {% endif %}>
            <span>Baby</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="age" value="young" {% if request.GET.age == 'young' %} checked {% endif %}>
            <span>Young</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="age" value="adult" {% if request.GET.age == 'adult' %} checked {% endif %}>
            <span>Adult</span>
        </label>
    </p>
    <p>
        <label class="opt">
            <input type="radio" name="age" value="senior" {% if request.GET.age == 'senior' %} checked {% endif %}>
            <span>Senior</span>
        </label>
    </p>
</div>
</div>
</div>

    

    <!-- breed, color -->

    <button type="submit" class="btn">Search</button>
</form>

<hr />

{% if search_results %}

{{ search_results }}

<h4>Results</h4>

<div class="advresults">
    {% for animal in search_results.animals %}
    <div class="card" style="width: 18rem">
        <img src="animal.photos.medium" class="card-img-top" alt="" />
        <div class="card-body">
            <h5 class="card-title">{{animal.name}}</h5>
            <p class="card-text">
                {{animal.description}}
            </p>
            <a href="/pets/{{animal.id}}/" class="btn btn-primary">See Details</a>
        </div>

    </div>
    {% endfor %}
</div>

<!-- <a href="">Next</a> -->

{% else %}

<h4>Featured/random Pets</h4>
{{ featured_pets }}

{% endif %}

{% endblock %}