@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* footer.page-footer {
  padding-top: 0;
  text-align: right;
} */

nav {
  background-color: #f48153ff;
  font-family: "Comfortaa", "Courier New", Courier, monospace;
}

body {
  background-color: #85d3d4ff;
  font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #910c07;
}

.greeting {
  margin: 50px;
  text-align: center;
}

.animal_name {
  margin: 50px 50px 30px 0;
}

#logo {
  padding: 5px 0px 0px 0;
}

.navbar-brand {
  font-size: 32px;
}

/* .nav-link {
  margin: 0 0 0 39px;
} */

/* .btn {
  background-color: #f48153ff;
  color: white;
  border-color: white;
  border-width: 3px;
} */

#titlelogo {
  font-family: "Comfortaa", "Courier New", Courier, monospace;
  font-weight: bolder;
  color: white;
}

.cat {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

.advopt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#jfk {
  font-family: "Comfortaa", "Courier New", Courier, monospace;
  padding: 30px 0 0 0;
}

#abt {
  padding: 30px 0 0 0;
}

.fap {
  color: white;
}

/* .card {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
} */

.opt {
  margin: 23px 50px 0 0;
}

#advanced-search {
  margin: 40px 0 40px 0;
  font-size: 30px;
}

.dropdown {
  margin: 20px 0 10px 0;
}

.dropdown-menu {
  background-color: #2fb5b8ff;
  border: 2px solid white;
  color: white;
}
